<div class="container">
  <form name="form" [formGroup]="form">
    <div class="form-group">
      <label for="fname">FirstName:</label>
      <input
        type="text"
        class="form-control"
        id="fname"
        placeholder="Enter FirstName"
        name="fname"
        ngModel
        required
        #firstName="ngModel">
      <!--<span class="help-block">Please enter a valid name!</span>-->
    </div>
    <span class="help-block" *ngIf="!firstName.valid && firstName.touched">please enter valid firstname!</span>
    <hr>
    <div class="form-group">
      <label for="lname">LastName:</label>
      <input
        type="text"
        class="form-control"
        id="lname"
        placeholder="Enter LastName"
        name="lname"
        formControlName="lastname">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        name="email"
        formControlName="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        placeholder="Enter password"
        name="pswd"
        formControlName="password">
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!form.valid">Submit
    </button>
  </form>
</div>
